* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.header-img {
	background: url(header_image.JPG);
	background-size: cover;
	padding: 7.5% 10%;
}

.header-logo {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}


.header-nav {
	background-color: black;
	text-align: center;
	position: sticky;
	top: 0px;
	z-index: 5;
}

nav li {
	display: inline-block;
	padding: 1% 7.5%;
	font-size: 20px;
}

.nav-bar-link {
	color: white;
}

.main-section {
	width: 80%;
	margin: 5% auto;
}

.about-us {
	display: grid;
	grid-template-columns: 2fr 4fr;
	grid-gap: 50px;
}

.about-us h2, .about-us h3, .about-us h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.25rem;
}

.profiles {
	display: inline-block;
	width: 47.5%;
	margin-right: 2em;
}


.boxOne {
	display: inline-block;
	width: 47.5%;
	vertical-align: top;
	margin-bottom: 15%;
}

.about-us h3 {
	font-size: 1.75rem;
	padding: 0.5em 0 1.5em;
}

.about-us h4 {
	font-size: 1.5rem;
	padding:  0.5em 0 1.5em;
}

.about-us p {
	font-size: 1.25em;
	padding:  0.5em 0 1.5em;
}

.footer-block {
	background-color: black;
	color: white;
	padding: 5% 15% 1%;
}

.footer-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
}

footer h2 {
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 1em;
}

.footer-block a {
	display: block;
	color: white;
	padding: 2% 0;
	text-align: left;
}

.footer-grid p {
	margin: 5% 0;
}


.copyright-para {
	margin: 5% 0;
}

/*Course page*/
.course-page {
	width: 85%;
	margin: 5% auto;
}

.first-section {
	border-bottom: 2px solid grey;
}

.first-section ul {
	text-transform: uppercase;
	font-size: 36px;	
	font-weight: bold;
}

.first-section li {
	display: inline-block;
	padding: 10px 10px 50px;
}

.first-section a {
	text-decoration: none;
	color: black;
}

.month-heading {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1em 0;
}

.course-div {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	border: 2px solid black;
	padding: 20px 10px;
}

.course-div h4, .course-div h2 {
	text-transform: uppercase;
	font-weight: bold;	
}

.course-div h2 {
	font-size: 25px;
	margin-bottom: 50px;
}

.sign-up-box {
	
}

/*End of course page*/